@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Ubuntu&family=Varela+Round&display=swap');
body
{
    background-color: antiquewhite;
}

*
{
    margin: 0;
    padding: 0;
}

nav
{
    font-family: 'Ubuntu', sans-serif;
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 85px;
    background-color: black;
    color: white;
}

nav ul li
{
    padding: 0 10px;
}

.brand img
{
    width: 115px;
    padding: 0 8px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.container
{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 25px auto;
    width: 60%;
    border-radius: 15px;
    padding: 34px;
    background-image: url(Cover.jpg);
}

.bottom
{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons
{
    margin: 15px 
}

.icons i
{
    cursor: pointer;
}

#myProgessBar
{
    width: 80vw;
}

.songItemContainer
{
    margin-top: 75px;
}

.songItem
{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img
{
    width: 50px;
    margin: 0 23px;
    border-radius: 34px;
}

.timespan
{
    margin: 0 25px;
}

.timespan i
{
    cursor: pointer;
}
